<footer class="footer">
  <div class="container footer__container">
    <h2 class="footer__title"><span>Получить бесплатный запуск</span>
      вашего сайта и увидьте ваш сайт в <span>Топ 5 уже завтра</span></h2>

    <div class="footer__button-wrapper">
      <button class="footer__button" type="button">
        Получить тестовый период за 0 руб!
      </button>
      <div class="footer__button-hint">
        <span class="footer__hint-text">Жми</span>
        <img class="footer__hint-arrow" src="images/seo-advantages-arrow.webp" alt="">
      </div>
    </div>
  </div>
</footer>

<script src="js/main.min.js"></script>
</body>

</html>